<!-- SEO Information -->
<title>{% if page.title %}{{ site.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.seodescription %}{{ page.seodescription | truncate: 160 }}{% elif page.ogdescription %}{{ page.ogdescription | truncate: 160 }}{% elif page.description %}{{ page.description | truncate: 160 }}{% elif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
{% if page.seokeyword %}<meta name="keywords" content="{{ page.seokeyword }}">{% elif site.seokeyworddefault %}<meta name="keywords" content="{{ site.seokeyworddefault }}">{% endif %}

<!-- Social Media Objects -->
<meta property="og:url"                content="{% if page.ogurl %}{{ page.ogurl }}{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}" />
<meta property="og:type"               content="{% if page.layout == 'post' %}post{% else %}website{% endif %}" />
<meta property="og:title"              content="{% if page.ogtitle %}{{ page.ogtitle }}{% elif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:description"        content="{% if page.ogdescription %}{{ page.ogdescription | truncate: 160 }}{% elif page.description %}{{ page.description | truncate: 160 }}{% elif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}" />
{% if page.ogimg %}<meta property="og:image"              content="{{page.ogimg}}" />{% elif site.ogimg %}<meta property="og:image"              content="{{site.ogimg}}" />{% endif %}
